body {
  font-size: 16px;
  font-family: "MulishVn", sans-serif !important;
}

.woocommerce-info {
	font-family: "MulishVn", sans-serif !important;
}

.woocommerce-error {
	font-family: "MulishVn", sans-serif !important;
}
